name: UmBox upload

on:
  push:
    branches: [ master ]

  workflow_dispatch:

jobs:
  upload:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v2
      - uses: marekmaskarinec/umbox@master
        with:
          secret: ${{ secrets.UMBOX }}
